@model OmegaAgenda.Models.Scheduling

@{
    ViewData["Title"] = "Detalhes do Agendamento";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Profissional:</dt>
        <dd>
            @Html.DisplayFor(model => model.Professional.Name)
        </dd>
        <dt>Cliente:</dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt>Data:</dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>Horário de Início:</dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>Horário do Término:</dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Editar</a>
    <br />
    <br />
    <a asp-action="Index">Voltar para lista</a>
</div>
