@model IEnumerable<OmegaAgenda.Models.Scheduling>

@{
    ViewData["Title"] = "Agendamentos";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr class="success">
            <th>Profissional</th>
            <th>Cliente</th>
            <th>Data</th>
            <th>Início</th>
            <th>Término</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Professional.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-success">Novo Agendamento</a>
