@model IEnumerable<OmegaAgenda.Models.Professional>

@{
    ViewData["Title"] = "Profissionais";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr class="success">            
            <th>Nome</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>
